<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit info</title>
</head>
<body>
    <p>Edit your info:<b><%= note.author%></b></p>
    <p>Edit your info:<b><%= note.author%></b></p>
    <form>
        <textarea rows="15" cols="25"><%=note.content%></textarea>
        <br/>
        <button>update</button>
    </form>

</body>
</html>