<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All notes</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>All notes</h1>
    <br/>
    <%for(let note of notes){%>
        <div class="note">
            <h1>author:<%= note.author%></h1>
            <p>title:<b><%= note.title%></b></p>
            <div class="content">
                content:<%=note.content%>
            </div>
        </div>
    <%}%>
</body>
</html>