<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crete new note</title>
</head>
<body>
    <h3>crete a new note</h3>
    <form method="post" action="/notes">
        <input placeholder="author name" name="author">
        <br/> <br/>
        <input placeholder="what`s your title ?" name="title">
        <br/> <br/>
        <textarea name="content" placeholder="put your content" ></textarea>
        <br/> <br/>
        <button>Create note</button>
    </form>

</body>
</html>