<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Name:<b><%= note.author%></b></p>
    <p>Title:<b><%= note.title%></b></p>
    <textarea name="content" rows="7" cols="25"><%=note.content%></textarea> 
</body>
</html>