body{
    font-family: Arial, sans-serif;
    background-color: lavenderblush;
}

h1{
    text-align: center;
    color: indigo;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px auto;
    font-size: 32px;
    letter-spacing: 1px;
}
.note{
    background-color: white;
    border-left: 6px solid #6c63ff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


h3{
    margin: 0;
    color: deeppink;
}

p{
    margin: 5px 0;
    color: gray;
}

.content{
    background-color: #f8f9fa;
    color: #333;
    padding: 1rem;
    border-radius: 0.75rem;
    width: 100%;
}

.note:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white !important;
}

/* btn home page*/
.btn-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}