body{
    font-family: Arial, sans-serif;
    background-color: #f5f7fb;
}

h1{
    text-align: center;
    color: indigo;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px auto;
    font-size: 32px;
    letter-spacing: 1px;
}
.note{
    background-color: white;
    border-left: 6px solid #6c63ff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}


h3{
    font-size: 15px !important;
    font-weight: 500 !important;
    color: #718096 !important;
    margin-bottom: 4px !important;
}

h3 b{
    background: linear-gradient(135deg,#667eea,#764ba2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 17px;
}

p{
    margin: 5px 0;
    color: gray;
}

.content{
    background: #eef2ff;
    border-left: 3px solid #6366f1;
    margin-top: 8px;
    padding: 10px 14px;
    border-radius: 4px;
    line-height: 1.7;
}

.note:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

/* navbar */
.navbar{
    height: 5rem;
    background-color: white !important;
}

/* btn home page*/
.btn-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 1rem;
}